
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


face_service/.venv/
face_service/venv/
face_service/__pycache__/



###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> IDE / Editor ###
/.idea/
/.vscode/
###< IDE / Editor ###

###> OS / Misc ###
.DS_Store
Thumbs.db
Desktop.ini
###< OS / Misc ###

###> Logs & local caches ###
*.log
/.phpunit.result.cache
/phpstan.neon
/phpstan.neon.dist
/psalm.xml
/psalm.xml.dist
/.php-cs-fixer.cache
/.php-cs-fixer.dist.php
/.php-cs-fixer.php
###< Logs & local caches ###