ALTER TABLE goal CHANGE id id INT NOT NULL, CHANGE id_user id_user INT NOT NULL;
ALTER TABLE investor_revenue_log DROP FOREIGN KEY `FK_INV_LOG_DAILY`;
ALTER TABLE investor_revenue_log DROP FOREIGN KEY `FK_INV_LOG_USER`;
ALTER TABLE investor_revenue_log CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
DROP INDEX idx_a1b2c3d4e5f60718 ON investor_revenue_log;
CREATE INDEX IDX_EBD5DB9ADFA4E588 ON investor_revenue_log (daily_revenue_id);
DROP INDEX idx_a1b2c3d4a76ed395 ON investor_revenue_log;
CREATE INDEX IDX_EBD5DB9AA76ED395 ON investor_revenue_log (user_id);
ALTER TABLE investor_revenue_log ADD CONSTRAINT `FK_INV_LOG_DAILY` FOREIGN KEY (daily_revenue_id) REFERENCES daily_revenue (revenue_id) ON DELETE CASCADE;
ALTER TABLE investor_revenue_log ADD CONSTRAINT `FK_INV_LOG_USER` FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE project CHANGE funding_completed_at funding_completed_at DATETIME DEFAULT NULL;
ALTER TABLE project_amount_history DROP FOREIGN KEY `FK_ADDF295166D1F9C`;
ALTER TABLE project_amount_history CHANGE recorded_at recorded_at DATETIME NOT NULL;
DROP INDEX idx_addf295166d1f9c ON project_amount_history;
CREATE INDEX IDX_E1037C97166D1F9C ON project_amount_history (project_id);
ALTER TABLE project_amount_history ADD CONSTRAINT `FK_ADDF295166D1F9C` FOREIGN KEY (project_id) REFERENCES project (id) ON DELETE CASCADE;
ALTER TABLE project_revenue_share DROP FOREIGN KEY `FK_D7E8E7166D1F9C`;
ALTER TABLE project_revenue_share DROP FOREIGN KEY `FK_D7E8E7A76ED395`;
ALTER TABLE project_revenue_share CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
DROP INDEX idx_d7e8e7166d1f9c ON project_revenue_share;
CREATE INDEX IDX_ED862232166D1F9C ON project_revenue_share (project_id);
DROP INDEX idx_d7e8e7a76ed395 ON project_revenue_share;
CREATE INDEX IDX_ED862232A76ED395 ON project_revenue_share (user_id);
ALTER TABLE project_revenue_share ADD CONSTRAINT `FK_D7E8E7166D1F9C` FOREIGN KEY (project_id) REFERENCES project (id) ON DELETE CASCADE;
ALTER TABLE project_revenue_share ADD CONSTRAINT `FK_D7E8E7A76ED395` FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE transaction CHANGE sender_id sender_id INT NOT NULL, CHANGE receiver_id receiver_id INT NOT NULL;
ALTER TABLE user CHANGE id id BIGINT NOT NULL;
